sudo: required

language: go
go:
- "1.10.x"

env:
- KUBERNETES_CONFIG_FILE=$HOME/.kube/config CHANGE_MINIKUBE_NONE_USER=true

install:
- go get -u github.com/golang/dep/cmd/dep
- cd $GOPATH/src/github.com/nats-io/nats-operator && dep ensure

before_script:
- go version
- curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/v1.10.0/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
- curl -Lo minikube https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64 && chmod +x minikube && sudo mv minikube /usr/local/bin/
- sudo minikube start --vm-driver=none --kubernetes-version=v1.10.0 --bootstrapper=localkube --feature-gates="TokenRequest=true,PodShareProcessNamespace=true" --extra-config=apiserver.service-account-signing-key-file=/var/lib/localkube/certs/apiserver.key --extra-config=apiserver.service-account-issuer=api --extra-config=apiserver.service-account-api-audiences=api --extra-config=apiserver.service-account-key-file=/var/lib/localkube/certs/sa.pub
- minikube update-context
- JSONPATH='{range .items[*]}{@.metadata.name}:{range @.status.conditions[*]}{@.type}={@.status};{end}{end}'; until kubectl get nodes -o jsonpath="$JSONPATH" 2>&1 | grep -q "Ready=True"; do sleep 1; done

script:
- kubectl cluster-info
- cd $GOPATH/src/github.com/nats-io/nats-operator/test/ && ./prepare-secrets.sh
- cd $GOPATH/src/github.com/nats-io/nats-operator/test/operator/ && go test ./... -v
- cd $GOPATH/src/github.com/nats-io/nats-operator/test/reloader/ && go test ./... -v
- cd $GOPATH/src/github.com/nats-io/nats-operator/test/rbac && ./rbac-test.sh